#contact {
  background-color: #393E46; /* Background color */
  color: #EEEEEE; /* Text color */
}
#contact h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00ADB5; /* Accent color */
}
#contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#contact ul {
  list-style: none;
  padding: 0;
}
#contact li {
  margin-bottom: 10px;
}