@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "navbar.css";
@import "welcome.css";
@import "about.css";
@font-face {
  font-family: "norwester";
  src: url("/asset/norwester.otf");
}

:root {
  --primary-color: #fcee4f;
  --font-norwester: 'norwester', sans-serif;
}

html, body {
  font-family: 'Khula', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #fff;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(0, 172, 181, .7);
}

::selection {
  background: rgba(0, 172, 181, .7);
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
  transition: all .2s ease-in-out;
}

a:hover {
  color: #fff;
}

section {
  padding: 80px 10%;
  text-align: center;
}

button {
  transition: all .3s ease-in-out;
}

.f-nw {
  font-family: var(--font-norwester);
}

@media (max-width: 768px) {
  section {
    padding: 40px 10%;
  }
}