#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services h2 {
  font-size: 3rem;
  font-family: var(--font-norwester);
}

#services .text-thanks div:nth-child(1) {
  background-color: #000;
  color: #fff;
  transform-origin: bottom right;
  transform: rotate(5deg) translate(-15px);
  margin-bottom: 2rem;
}

#services .text-thanks div:nth-child(2) {
  background-color: #fff;
}

#services .t-gtc {
  font-family: var(--font-norwester);
  font-size: 2rem;
  margin: 4rem 0 3rem;
}

#services .info .services {
  margin-top: 1rem;
  letter-spacing: 3px;
}
