#testimonial {
  background-color: #eee; /* Background color */
}
#testimonial h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00ADB5; /* Accent color */
}
.testimonial {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #EEEEEE; /* Background color */
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.testimonial p {
  font-size: 18px;
  line-height: 1.6;
}